header {
  width:100%;
  text-align:center;
}

body {
  background-color: lavender;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.set {
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

.topBoard {
  position: absolute;
  text-align: center;
  background-color: white;
  border-color: black;
  boder: white;
  padding: 30px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 600px;
}

.middleBoard {
  position: absolute;
  text-align: center;
  background-color: white;
  border-color: black;
  border-top: white;
  border-width: medium;
  padding: 30px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  height: 450px;
  width: 600px;
}

.question {
  font-size: 20px;
  padding: 20px 0;
}

.answers {
    font-size: 20px;
    padding: 20px 0;
}


.daveDiv {
    font-size: 20px;
    padding: 20px 0;
  }

button {
  font-size: 20px;
  margin: 5px;
  padding: 25px 7;
}

.screen {
  font-size: 25px;
  padding: 20px 0;
}

p {
  margin: 0 0 20px;
}

p span {
  font-weight: bold;
}

p.result  {
  background-color: rgb(51, 51, 77);
  color: white;
  padding: 8px 12px;
  height: 34px;
  border-radius: 4px;
}
