header {
  width:100%;
  text-align:center;
}

body {
  background-color: lavender;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topBoard {
  text-align: center;
  background-color: white;
  border-color: black;
  /*padding: 30px;*/
  margin: 0 auto;
  height: 150px;
  width: 600px;

}

.logo {
  width: 50%;
  height: 80%;
}

.middleBoard {
  text-align: center;
  background-color: white;
  border-color: black;
  border-top: white;
  border-width: medium;
  /*padding: 30px;*/
  margin: 0 auto;
  border-radius: 4px;
  height: 450px;
  width: 600px;
}

.question {
  font-size: 20px;
  padding: 20px 0;
}

.answers {
    font-size: 20px;
    padding: 20px 0;
}


.daveDiv {
    font-size: 20px;
    padding: 20px 0;
  }

button {
  font-size: 20px;
  margin: 5px;
  padding: 25px 7;
}

.screen {
  font-size: 25px;
  padding: 20px 0;
}

p {
  margin: 0 0 20px;
}

p span {
  font-weight: bold;
}

p.result  {
  background-color: rgb(51, 51, 77);
  color: white;
  padding: 8px 12px;
  height: 34px;
  border-radius: 4px;
}

/*TV SET*/

.tvSet {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /*margin: 0px auto 10px;*/
  width: 1100px;
  height: 100vh;
  display: none;
  background-image: url("images/tvSet2.jpeg");
  background-color: #cccccc;
}

.players {
    background: pink;
    width: 6vw;
    height: 6vw;
}
.players h3 {
    color: #000;
    text-align: center;
}

#playerOne {
  float: left;
  position: relative;
  left: 400px;
  margin-top: 450px;
}

#playerTwo {
  float: right;
  right: 400px;
  position: relative;
  margin-top: 450px;
}

.gunge {
    background: #00f002;
    width: 500px;
    height: 100px;
    position: relative;
    left: 50%;
    /*top: 50%;*/
    transform: translate(-50%, -50%);*/
    text-align: center;
    margin-top: 670px;
    border-color: black;
}

/*#playerOneMoveButton {
padding: 20px;
margin: 0 auto;
display: inline;
text-align: center;
}

#playerTwoMoveButton {
padding: 20px;
margin: 0 auto;
text-align: center;
display: inline;
}*/


/*WELCOME SCREEN */

.largeLogo {

}

/*.logoContainer {
 width: 150px;
 height: 100px;
 background-image: "css/images/largelogo.jpeg";
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 50% 50%;
 position: absolute;
 margin: 0 auto;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 text-align: center;
 -webkit-animation: slide 0.5s forwards;
 -webkit-animation-delay: 2s;
 animation: slide 0.5s forwards;
 animation-delay: 2s;
 display: none;
}*/
